<div class="row">

    <!-- Search Sidebar -->

    <div class="col-lg-4 sidebar_col">
        <!-- Search Box -->
        <the-search></the-search>
    </div>

    <!-- Listings -->

    <div class="col-lg-8 listings_col">

        <!-- Listings Item -->
        <property-list></property-list>
    </div>
</div>

<div class="row">
    <div class="col clearfix">
        <div class="listings_nav">
            <ul>
                <the-paging></the-paging>
            </ul>
        </div>
    </div>
</div>